body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  scroll-behavior: smooth;
}
section {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar {
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  margin-top: 20px;
}




footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
.dark {
  background-color: #121212;
  color: #170e0e;
}
.dark .navbar {
  background-color: #1f1f1f;
}
.toggle-btn {
  position: fixed;
  top: rem;
  right: 1rem;
  z-index: 999;
  padding: 8px 12px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 80px; /* adjust based on your navbar height */
}
